<div class="widget-container">
	<h3>Lyric vAtm</h3>
	<span class="widget-label">Advance Amount: </span><span class="widget-value" id="advance-amount">{{advanceAmount}}</span>
	<br/>
	<span class="widget-label">Amount Repaid: </span><span class="widget-value" id="amount-repaid">{{amountRepaid}}</span>
	<br/>
	<span class="widget-label">Amount Remaining: </span><span class="widget-value" id="amount-remaining">{{amountRemaining}}</span>
	<br/>
	<span class="widget-label">Available Balance: </span><span class="widget-value" id="available-balance">{{availableBalance}}</span>
</div>