<div id="tcModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
    	<span class="close">×</span>
	    <h3>Terms & Conditions</h3>
	  </div>
	  <div class="modal-body">

			<div class="terms">
			  <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipiscing elit. Vivamus malesuada ex vel sagittis gravida. Mauris sed ligula at velit cursus volutpat. Nam sodales purus in ex iaculis, a molestie velit placerat. Vivamus tincidunt quis arcu et pharetra. Sed gravida a mauris quis porta. Quisque tempus, metus eu scelerisque tristique, tortor lorem pretium arcu, ultricies elementum nibh massa eu neque. Sed hendrerit et nibh eget varius. Pellentesque ultrices elit eget mi gravida aliquam. Maecenas nec metus eu <strong>odio viverra elementum</strong> vehicula quis metus.</p>

				<p>Donec luctus ligula ac turpis consectetur, <strong>sit amet</strong> imperdiet massa lacinia. Fusce sit amet tempor tellus, a rhoncus nibh. Nulla ac erat ornare, condimentum mi vel, euismod diam.</p>

				<ol>
			  	<li>Cras vitae nisi vitae nisl luctus volutpat ac et enim. Praesent nisl lorem, efficitur sed vestibulum in, facilisis ut arcu. Curabitur dictum fermentum sapien, a pellentesque orci maximus pretium. Quisque malesuada commodo molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti.</li>

			  	<li>Ut viverra quis erat et efficitur. Morbi eget odio semper, vulputate erat at, commodo dolor. Morbi eleifend ipsum in magna consectetur varius. Quisque malesuada gravida arcu, nec maximus risus aliquam et. Cras hendrerit ut metus a ultrices. Nulla ac ipsum eget lacus lobortis accumsan. Pellentesque pellentesque pharetra dui id sagittis.</li>

			    <li>Cras vitae nisi vitae nisl luctus volutpat ac et enim. Praesent nisl lorem, efficitur sed vestibulum in, facilisis ut arcu. Curabitur dictum fermentum sapien, a pellentesque orci maximus pretium. Quisque malesuada commodo molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti.</li>

			  	<li>Ut viverra quis erat et efficitur. Morbi eget odio semper, vulputate erat at, commodo dolor. Morbi eleifend ipsum in magna consectetur varius. Quisque malesuada gravida arcu, nec maximus risus aliquam et. Cras hendrerit ut metus a ultrices. Nulla ac ipsum eget lacus lobortis accumsan. Pellentesque pellentesque pharetra dui id sagittis.</li>

				</ol>

				<p>Pellentesque ut est sed erat bibendum venenatis. Ut ut nisl diam. Nam viverra risus vitae lectus suscipit rutrum. Aliquam ut ante eu tellus posuere volutpat. Etiam gravida nunc in est eleifend bibendum. Proin tincidunt porttitor lacus. Duis viverra, nisi ut ornare tempor, lorem nibh hendrerit nisl, in molestie sapien massa vel eros. Nullam consequat nulla quis ex dictum rhoncus. Sed id sem elementum, consectetur sem sed, consectetur felis.</p>

				<p>Vivamus id imperdiet quam. Etiam pellentesque vulputate sapien, vitae vestibulum ante ornare suscipit. In vitae sapien est. Nulla quis eros eget ipsum ultrices faucibus. Curabitur velit nisl, suscipit sed nibh sit amet, scelerisque pharetra dui. Ut rhoncus, massa et condimentum tempus, augue lacus blandit lorem, et bibendum turpis purus non mauris. Ut pulvinar dictum ligula in tristique.</p>
			</div>

	  </div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-white" onclick="confirmed()">I Agree</button>
	  </div>
  </div>

</div>